* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*::before, *::after {
    padding: inherit;
    margin: inherit;
    box-sizing: inherit;
}

body {
    background-color: hsl(19, 29%, 83%);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1.1em;
    line-height: 1.4em;
}

img {
    border-radius: 12px;
    box-shadow: 2px 2px 4px gray;
    margin: 8px auto 16px;
}

h1 {
    text-align: center;
    font-size: 1.7em;
    line-height: 1.8em;
}

h2 {
    font-size: 1.4em;
    line-height: 1.5em;
}

#cover {
    padding: 8px 0;
}

#main-title {
    font-size: 2.5em;
    text-transform: uppercase;
}

#cover p,
#cover h2 {
    margin-left: 24px;
}

#return-home {
    font-weight: bold;
    display: block;
    padding: 8px 16px 24px;
    text-align: center;
    border-top: 1px solid black;
}

.container {
    margin: 0 auto;
    padding: 8px 24px;
    width: 576px;
    background-color: hsl(20, 40%, 94%);
    border-left: double 8px black;
    border-right: double 8px black;
}

.subsection {
    padding: 16px 0;
    margin-left: 24px;
}